.App {
  text-align: center;
  background-image: url('./620224-abstract-graphic-mosaic-iphone-wallpaper-idea-wallpaper-iphone-wallpaper-color-schemes.webp');
  height: 1000px;
  background-attachment: fixed;
  
  }